<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BMIS.Properties.Settings.bmisConnectionString" connectionString="Data Source=MUNDAS26\SQLEXPRESS;Initial Catalog=bmis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>